In [1]:
using RDatasets

In [2]:
RDatasets.datasets()

763×5 DataFrame
 Row │ Package  Dataset      Title        Rows   Columns
     │ String   String       String       Int64  Int64
─────┼───────────────────────────────────────────────────
   1 │ COUNT    affairs      affairs        601       18
   2 │ COUNT    azdrg112     azdrg112      1798        4
   3 │ COUNT    azpro        azpro         3589        6
   4 │ COUNT    badhealth    badhealth     1127        3
   5 │ COUNT    fasttrakg    fasttrakg       15        9
   6 │ COUNT    lbw          lbw            189       10
   7 │ COUNT    lbwgrp       lbwgrp           6        7
   8 │ COUNT    loomis       loomis         410       11
   9 │ COUNT    mdvis        mdvis         2227       13
  10 │ COUNT    medpar       medpar        1495       10
  11 │ COUNT    rwm          rwm          27326        4
  ⋮  │    ⋮          ⋮            ⋮         ⋮       ⋮
 754 │ gamair   mpg          mpg            205       27
 755 │ gamair   prostate     prostate       654      530
 756 │ gamair   sitka        sitka         1027        6
 757 │ gamair   sole         sole          1575        8
 758 │ gamair   sperm.comp1  sperm.comp1     15        5
 759 │ gamair   sperm.comp2  sperm.comp2     24       11
 760 │ gamair   stomata      stomata         24        4
 761 │ gamair   swer         swer          2196       10
 762 │ gamair   wesdr        wesdr          669        5
 763 │ gamair   wine         wine            47        8
                                         742 rows omitted

In [3]:
iris = dataset("datasets","iris")

150×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa
   6 │         5.4         3.9          1.7         0.4  setosa
   7 │         4.6         3.4          1.4         0.3  setosa
   8 │         5.0         3.4          1.5         0.2  setosa
   9 │         4.4         2.9          1.4         0.2  setosa
  10 │         4.9         3.1          1.5         0.1  setosa
  11 │         5.4         3.7          1.5         0.2  setosa
  ⋮  │      ⋮           ⋮            ⋮           ⋮           ⋮
 141 │         6.7         3.1          5.6         2.4  virginica
 142 │         6.9         3.1          5.1         2.3  virginica
 143 │         5.8         2.7          5.1         1.9  virginica
 144 │         6.8         3.2          5.9         2.3  virginica
 145 │         6.7         3.3          5.7         2.5  virginica
 146 │         6.7         3.0          5.2         2.3  virginica
 147 │         6.3         2.5          5.0         1.9  virginica
 148 │         6.5         3.0          5.2         2.0  virginica
 149 │         6.2         3.4          5.4         2.3  virginica
 150 │         5.9         3.0          5.1         1.8  virginica
                                                   129 rows omitted

In [4]:
names(iris)

5-element Vector{String}:
 "SepalLength"
 "SepalWidth"
 "PetalLength"
 "PetalWidth"
 "Species"

In [5]:
size(iris)

(150, 5)

In [6]:
first(iris,5)

5×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼───────────────────────────────────────────────────────────
   1 │         5.1         3.5          1.4         0.2  setosa
   2 │         4.9         3.0          1.4         0.2  setosa
   3 │         4.7         3.2          1.3         0.2  setosa
   4 │         4.6         3.1          1.5         0.2  setosa
   5 │         5.0         3.6          1.4         0.2  setosa

In [7]:
last(iris,5)

5×5 DataFrame
 Row │ SepalLength  SepalWidth  PetalLength  PetalWidth  Species
     │ Float64      Float64     Float64      Float64     Cat…
─────┼─────────────────────────────────────────────────────────────
   1 │         6.7         3.0          5.2         2.3  virginica
   2 │         6.3         2.5          5.0         1.9  virginica
   3 │         6.5         3.0          5.2         2.0  virginica
   4 │         6.2         3.4          5.4         2.3  virginica
   5 │         5.9         3.0          5.1         1.8  virginica

In [8]:
combine(groupby(iris,:Species),nrow)

3×2 DataFrame
 Row │ Species     nrow
     │ Cat…        Int64
─────┼───────────────────
   1 │ setosa         50
   2 │ versicolor     50
   3 │ virginica      50